.navbar {
    background-color: #554B75;
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-brand  {
    color: #fff;
    font-size: large;
}

a {
    color: #f2f2f2;
    font-weight: 200;
}
a:hover {
    color: #cccccc;
}

.navbutton
{
    margin-left: 10px;
    border-color: white;
    border-width: 2px; 
}