.jumbotron {
    background-image: url(../images/image.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    text-shadow: 1px 0 0 rgb(63, 57, 57), 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}